/* body { */
/*   background-color: #dee; */
/* } */

/* h1 { */
/*   color: #11d; */
/* } */

/* h2 { */
/*   color: #161; */
/* } */

/* header { */
/*   border-bottom: 10px solid #a33; */
/* } */

/* footer { */
/*   background-color: #a33; */
/*   color: #fff; */
/* } */

