@charset "UTF-8";

section, article, aside, header, footer, nav {
  display: block; }

body {
  width: 830px;
  margin: auto;
  line-height: 1.5; }

body > header {
  margin-top: 1em;
  padding-bottom: 0.5em; }
  body > header * {
    margin: 0; }
  body > header h1 {
    font-font-family: sans-serif;
    font-size: 2.5em;
    line-height: 1.1;
    padding: 0.5em; }
    body > header h1 a {
      text-decoration: none; }
  body > header p {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    margin-left: 1.5em; }

header > nav {
  margin-left: 10px;
  padding: 11px 0;
  border-bottom: 1px dashed #b1ad9b; }
  header > nav ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    /*     text-align: center; */ }
    header > nav ul li {
      padding: 6px 15px;
      margin: 0 7.5px;
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      font-size: 16px;
      font-family: sans-serif;
      border: 1px solid #cacaca;
      border-bottom: 3px solid #a0a0a0; }

article section {
  margin: 0 1em;
  padding-bottom: 0.5em; }
article h1 {
  margin-top: 0.6em;
  margin-bottom: 0.5em;
  font-family: sans-serif;
  padding-left: 0.4em;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: black; }
article p {
  margin: 0.7em auto; }
article dl {
  margin: 1em; }
  article dl dt {
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    font-weight: bold; }
  article dl dd {
    margin-left: 1em; }
article pre {
  padding: 0.5em 1em;
  font-size: small; }
  article pre.blockcode {
    box-shadow: 0.2em 0.2em 0.3em gray;
    -webkit-box-shadow: 0.2em 0.2em 0.3em gray;
    -moz-box-shadow: 0.2em 0.2em 0.3em gray;
    border: solid thin gray;
    white-space: pre-wrap;
    margin-right: 1em; }
  article pre.shell {
    background-color: black;
    color: white;
    margin-right: 1em; }

body > footer {
  text-align: right;
  font-size: small;
  color: gray;
  margin-top: 2em;
  margin-bottom: 1em; }
  body > footer * {
    margin: 0; }
  body > footer li {
    display: inline-block; }
  body > footer a {
    color: inherit; }
  body > footer p {
    margin-top: 1em;
    margin-bottom: 1em; }
