/* -- global -- */

body {
    /* background-color: #ffffff; */
    /* background-color: #F5F5F5; */
    /* background-color: #E8F6FE; */
    background-color: #E0EFFD;
    
    font: 100% arial, helvetica, sans-serif;
}

h1 {
/*
  font-family: georgia,serif;
  font-size: 1.5em; 
  text-align:center;
  margin: 16px;
  */
}

h2 {
/*     margin-top: 25px; */
}

ul {
    list-style-type: none;
}

img.icon {
    display: block;
    float: left;
}

table {
    border: 1px solid #999;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #FFFFFF;
/*     background-color: #E8F6FE; */
/*     background-color: #F0F8FF; */
}

thead td {
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    /*background-color: #ccc;*/
    background-color: #F9A43B;
    border: 1px solid #999;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    color: #FFFFFF;
}

tbody td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px;
}

tbody td.fixed {
    text-align: center;
}


/* -- table -- */

#table-container {
    width: 800px;
}

/* -- table-main -- */

#column-no {
    padding-left: 10px;
    padding-right: 10px;
}

#column-name {
    width: 100px;
}

#column-format {
    width: 500px;
}

/*
  table.cocoatable tbody tr:hover {
  background: rgb(161,197,255);
  }
  */
table.cocoatable tbody tr.selected {
    background: rgb(161,197,255);
}

table.cocoatable tbody tr.selected td.fixed {
    background: white;
}

table.cocoatable td.editing {
    background: white;
    outline: 1px solid rgb(75,137,208);
}

table.cocoatable input {
    border: 0 none;
    outline: 0px none ;
    padding: 0;
    margin: 0;
}

/* -- table-footer -- */

#table-footer {
    width: 800px;
}

/* -- plus-minus-buttons -- */

.plus-minus-buttons {
    float: left;
    width: 640px;
    margin-top: 5px;
    font-size: 120%;
}

.plus-minus-buttons .button {
    width: 1em;
    height: 1em;
    border: 1px solid #666;
    text-align: center;
/*     background-color: #FFFFFF; */
    background-color: #F6F6F6;
}

.plus-minus-buttons .button:active {
    background: #999;
}

.plus-minus-buttons .plus {
    float: left;
}

.plus-minus-buttons .minus {
    float: left;
    border-left: 0 none;
}

/* -- up-down-buttons -- */

.up-down-buttons {
    float: left;
    width: 100px;
    margin-top: 5px;
    font-size: 120%;
}

.up-down-buttons .button {
    width: 1em;
    height: 1em;
    border: 1px solid #666;
    text-align: center;
/*     background-color: #FFFFFF; */
    background-color: #F6F6F6;
}

.up-down-buttons .button:active {
    background: #999;
}

.up-down-buttons .up {
    float: left;
}
.up-down-buttons .down {
    float: left;
    border-left: 0 none;
}

/* -- etc-buttons -- */

.etc-buttons {
    clear: left;
    padding: 10px 0px 0px 0px; 
}

.etc-button {
    width: 150px;
}

#restore-button-div {
    float: left;
    width: 250px;
}

#import-button-div {
    float: left;
    width: 250px;
}

#export-button-div {
    float: left;
    width: 250px;
}

#dumper {
    float:left;
    width: 500px;
    color: #FFFFFF;
}

#clear-button-div {
    float: left;
    width: 250px;
}

/* Variables */

.variables dt {
    font-family: sans-serif;
/*     color: rgb(128,0,0); */
    color: #FC6878;
}

.variables dd {
    margin-bottom: 0.5em;
}

/* contents-background */

.contents-background {
/*     background: #FEFCF6; */
    background: #FFFFFF; 
    padding: 10px 7px;
}

